<!-- <div class="containter">
    <div class="row">
        <div class="col-lg-6">
            <p>Hello?</p>
            <app-server></app-server>
            <app-server></app-server>
        </div>
    </div>
</div> -->
<!-- <app-server></app-server> -->

<!-- <app-product></app-product> -->
<!-- <app-vote-result></app-vote-result> -->

<!-- <app-add-product></app-add-product> -->
<!-- <app-product-parent></app-product-parent> -->
<!-- <app-post-list></app-post-list> -->
<app-reactive-form></app-reactive-form>

<!-- <app-like></app-like> -->

<!-- <ul>
    <li>h</li>
    <li>e</li>
    <li>l</li>
</ul> -->