* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
table,
tr,
th,
td {
  border: 1px solid black;
}
td {
  width: 100px;
  height: 100px;
}
header {
  height: 50px;
  width: 100%;
  background-color: aqua;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  top: 0px;
  left: 0px;
}
.wrapBtn {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
button {
  padding: 1em;
  margin: 0 3em;
}
#tableSet {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
th,
td {
  text-align: center;
}
table {
  width: 100%;
}
.header {
  /* position: relative; */
  /* top: 50px; */

  /* padding-top: 50px; */
  margin-top: 50px;
}
