:root{
  --color-primary:#4285F4;
  --color-primary-dark:#0d47a1;
  --color-success:#00C851;
  --color-success-dark:#007E33;
  --color-grey:#e0e0e0;
  --color-grey-dark:#757575;
}

*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing: inherit
}

html{
  font-size: 62.25%;
  font-family: var(--font-primary);
}

body{
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: sans-serif;
}

label{
  cursor:pointer;
}

.container {
    position: absolute;
    width:100%;
    max-width: 50rem;
    height:60%;
    max-height: 30rem;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
      "header header header header"
      "first_n first_n last_n last_n"
      "number number number number"
      "email email email email"
      "pw pw cpw cpw"
      "agree terms terms terms"
      "register register signin signin";
  }
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    .container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 0.5fr);
      grid-template-areas:
      "header header"
      "first_n first_n"
      "last_n last_n"
      "number number"
      "email email"
      "pw pw"
      "cpw cpw"
      "agree terms"
      "register register"
      "signin signin";
    }
  }
  .signUpPadding{
    padding:0.25em 0.5em 0.25em 0.5em;
    box-sizing: inherit;
  }
  .signUp {
    grid-area: header;
  }
  .fName {
    grid-area: first_n;
  }
  .lName{
    grid-area: last_n;
  }
  .signUp {
    grid-area: header;
  }
  .number {
    grid-area: number;
  }
  .email {
    grid-area: email;
  }
  .passWord {
    grid-area: pw;
  }
  .passWordConfirm {
    grid-area: cpw;
  }
  .agree {
    grid-area: agree;
    display: flex;
    align-items: center;
  }
  .terms {
    display: flex;
    grid-area: terms;
    width:100%;
    height: 100%;
  }

  .terms,.signUpPadding p{
    font-size:0.8em;
    display: inline;
  }
  .register {
    grid-area: register;
  }
  .signIn {
    grid-area: signin;
  }
  #regButton{
    background-color: var(--color-primary);
    display: inline-block;
    color:#fff;
    padding:1px 4px;
    border-radius: 3px;
      
  }
  .register-Btn{
    color:white;
    background-color: #007bff;
    border-color:#007bff;
    width:100%;
    height: 100%;
  }
  .signIn-Btn{
    color: #fff;
    background-color:var(--color-success);
    border-color: #28a745;
    width:100%;
    height: 100%;
  }
  #termsLink{
    display: inline-block;
    color: var(--color-primary-dark);
    text-decoration: None;
  }
  .buttons{
        display: block;
        font-weight: 400;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1.2rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .buttons:hover{opacity: 0.9;}

  input[type='checkbox']{
    cursor:pointer;
  }
  .inputs:focus{
    box-shadow: 0 0 2px 1px #88b8ff;
  }
  .inputs {
    display: block;
    width: 100%;
    height: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  h1{
    text-align: center;
    color: black;
  }
  
  p {
    color: black;
  }
  body {
    background-color: white;
    
  }
  