h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



form {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.formRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 0 16px;
    align-items: flex-end;
}

input {
    flex-basis: 100%;
}


input[type=text] {
    padding: .7rem 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 100%;
}

input[type=text]:focus {
    outline: none;
    border: 1px solid #0492C2;
    box-shadow: 0 0 7px skyblue;
}

label:hover {
    cursor: pointer;
}

input[type=checkbox]:hover {
    cursor: pointer;
}

input[type=submit] {
    background-color:  #007bff;
    border-color: #007bff;
    color: white;
    text-align: center;
    padding: .9rem 2rem;
    border-radius: 6px;
    font-size: 100%;
}

input[type=submit]:hover {
    cursor: pointer;
}

input[type=button] {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
    text-align: center;
    padding: .9rem 2rem;
    border-radius: 6px;
    font-size: 100%;
}

span {
    display:flexbox; 
    padding:2px 4px; 
    color:white; 
    background-color:#007bff; 
    font-size: smaller;
    border-radius: 4px;
}

.agree {
    flex-basis: 30%;
}

.terms {
    width: 70%;
    padding-left: 10vw;
}

a {
    text-decoration: none;
}


@media (max-width:700px){

    .formRow{
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
        align-items: center;
    }
    label{
        font-size:0;
    }

}

@media (min-width:700px){
    form {
        width: 700px;
    }
}


