$Green: #0b4d14;
$Black: #000;
$Gray: #c6bfbf;

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.25%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-seri;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-container {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: $Black;
  display: flex;
  align-items: center;

  .nav-antra {
    position: absolute;
    left: 50px;
    width: 40%;
    .nav-list {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      li {
        margin-right: 5%;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.content-container {
  width: 100%;
  position: relative;
}

.content-row__top {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 5% 10% 0 10%;
  background-color: $Gray;
  display: flex;
  flex-direction: column;
  justify-content: center;

  header {
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.content-row__bottom {
  position: relative;
  left: 0px;
  top: 150px;
  padding: 0% 10% 10% 10%;
  justify-content: space-between;
  display: flex;
  .content-item {
    margin-right: 5%;
  }
}

.footer-row {
  position: relative;
  top: 100px;
  width: 100%;
  background-color: $Green;
  .footer-wrapper {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      li {
        margin-right: 10%;
        a {
          color: white;
          text-decoration: none;
          font-size: 1rem;
        }
      }
    }
  }
}
