*,
*::before,
*::after{
    box-sizing: inherit;
    margin:0;
    padding:0
}
html{
    font-size: 62.25%;
}
body{
    box-sizing: border-box;
    background: #ffffff;
    font-size:1.6rem;
    font-family: sans-serif;
}

.form-signup header{
    text-align: center;
    font-size: 2.0rem;
    margin: 5px 0;
}
.sign-up-container{
    position: fixed;
    width: 100%;
    max-width:50rem;
    /*center the form */
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
}

.form-signup{
    display: flex;
    flex-direction: column;
}
.form-signup .form-row{
    display: flex;
    flex:1 1 100%;
    margin: 1px;
}
.form-signup .form-row .form-item{
    flex: 1 1 100%;
    margin: 0.5rem 1rem;
}

.form-item input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    outline:none;
    padding:1rem;
}
.sign-up-container input:focus{
    box-shadow: 0 0 5px rgba(89, 153, 217, 1);
    border: 1px solid rgba(89, 153, 217, 1);
}

.form-row .agree-wrapper{
    display: flex;
    margin-top:8px;
}

.form-row .terms-check{
    flex:1 1 40%;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2.5rem; 
    min-width: 2rem;
}
.form-row .terms{
    font-size: 1.2rem;
}
.form-row .terms a{
    text-decoration: none;
}
.form-row .terms .badge-register{
    background-color: #007BFF;
    display: inline-block;
    color:#fff;
    padding:1px 4px;
    border-radius: 3px;
}


.terms a:link, a:visited{
    text-decoration: none;
    color: #007BFF;
}

.terms a:hover{
    text-decoration: underline;
}


.btn{
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    outline:none;
}
  
.signup-btn{
    color: #fff;
    background-color: #007BFF;
}

.signup-btn:hover,.signup-btn:hover:active{
    background: darkblue;
}

.login-btn{
    background: #28A745;
    color:#fff;
}

.login-btn:hover{
    background: #3e8e41;
}

@media screen and (max-width:400px){
    .form-signup .form-row{
        flex-direction: column;
    }

    .terms-check label{
        display: none;
    }
    .terms-check{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
