.whole{
    width: 50%;
    margin:0 auto;
}

h1{
    text-align: center;
}

input, button{
    border-radius: 5px;
}

.si{
    width: 45%;
    border-radius: 7px;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    margin: 1.5%;
    padding: 15px ;
    
}

.lin{
    width:93.4%;  
    margin: 1.5%;
    padding: 15px;
}

input:focus{
    border:1px solid rgba(45, 152, 240, 0.8);
}

.b1{
    background-color: #4285F4;;;
    font-size: 20px;
    cursor: pointer;
}

.b2{
    background-color: rgba(89, 146, 79, 1);
    font-size: 20px;
    cursor: pointer;
}
/* .cbox{
    display: inline;
}

.txt{
    display: inline;
    margin-left: 10px;
    
} */
.form-row .agree-wrapper{
    display: flex;
    margin-top: 8px;
}
.form-row{
    display: flex;
    flex:1 1 100%;
    margin:1px;
}

.check-agree{
    flex:1 1 40%;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2.5rem; 
    min-width: 2rem;
}

.form-row .terms{
    font-size: 1.1rem;
    
}
.form-row .terms a{
    text-decoration: none;
}

.badge{
    background-color: #4285F4;;
    display: inline;
    color:#fff;
    padding:1px 4px;
    border-radius: 3px;
}

.b3{
    background-color: #4285F4;
    display: inline-block;
    color:#fff;
    padding:1px 4px;
    border-radius: 3px;
}

.condition{
    text-decoration: none;
}

@media (max-width:1030px){

    input{
          
        display:flex;
        flex-direction: column;
    }

    .si{
        width:93.4%;
    }

    /* si{
        display:flex;
        flex-direction: column;
        width:93.4%;  
        margin: 1.5%;
        padding: 15px;
    } */
   
    label{
        display: none;
    }
    .check-agree {
        display: flex;
        flex:1 1 10%;
        /* https://developer.mozilla.org/zh-CN/docs/Web/CSS/justify-content */
        justify-content: center;
        align-items: center;
    }
}
