*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root{
    --color-primary:#4285F4;
    --color-primary-dark:#0d47a1;
}

body{
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 0 0 2px 1px grey;
}

.header-form{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.form-item{
    width: 40%;
    height: 30px;
}

.form-item input{
    width: 100%;
    height: 100%;
    border:1px solid var(--color-primary-dark);
    border-radius: 5px;
    outline: none;
    color: var(--color-primary-dark);
}

.form-item input:hover{
    background: var(--color-primary-dark);
    color:white;
}

/* .form-item input:focus{
    box-shadow: 0 0 2px 1px #88b8ff;
} */

.content{
    position: relative;
    top: 72px;
}

.content-table{
    margin-top: 30px;
    position: relative;
    width: 80%;
    left: 10%;
    color: black;
}

.content-table, .content-table td{  
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.content-table th{
    color: white;
    background: var(--color-primary-dark);
    height: 50px;
    border: 2px solid white;
}

