html {
  font-size: 62.25%
}

a {
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.form-container .form-header {
  text-align: center;
}

.form-container .form-row {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: space-between;
}

.form-row .form-item {
  flex: 1 1 100%;
  margin: 0.5rem 0.5rem;
}

.form-row .form-item input {
  flex: 1 1 100%;
  width: 100%;
  height: 4rem;
  border-radius: 4px;
  border: 1px solid #DBDBDB;
}

.form-row .form-consent-box {
  display: flex;
}

.form-consent-box .form-consent {
  flex: 1 1 30%;
  margin: 0 1rem;
}

.form-hint button {
  width: 60px;
  height: 20px;
  border-radius: 10px;
  color: white;
}

.form-item button {
  flex: 1 1 100%;
  width: 100%;
  height: 4rem;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.register{
  background-color: cornflowerblue;
}

.signin{
  background-color: seagreen;
}