
:root{
    --color-primary:#4285F4;
    --color-primary-dark:#0d47a1;
    --color-success:#00C851;
    --color-success-dark:#007E33;
    --color-grey:#e0e0e0;
    --color-grey-dark:#757575;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: sans-serif;
    box-sizing: border-box;
}

/* main style */
.form-container{
    position: fixed;
    width: 100%;
    max-width: 40rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.form-signup{
    display: flex;
    flex-direction: column;
}

.form-signup header{
    text-align: center;
    padding: 10px;
}

form .form-row{
    display: flex;
    justify-content: center;
}

.form-item{
    flex: 1 1 100%;
    padding: 5px;
}

.form-item input, .form-item button{
    height: 3em;
    width: 100%;
    padding: 5px;
}

label{
    cursor: pointer;
}

input[type='checkbox']{
    cursor:pointer;
}

.agree-wrapper{
    display: flex;
}

.check-agree{
    width: 30%;
}

.btn{
    border:none;
    background-color: var(--color-grey-dark);
    outline: none;
}

.primary{
    color: #fff;
    background-color:var(--color-primary);
}
.primary:active{
    background-color: var(--color-primary-dark);
}
.success{
    color:#fff;
    background-color:var(--color-success);
}
.success:active{
    background-color: var(--color-success-dark);
}







