$primary: rgb(24, 86, 151);
$secondary: #47e0e6;
$tertiary: transparent;
$btnHover: rgba(255, 255, 255, 0.3)


:export {
    primary: $primary;
    secondary: $secondary;
    tertiary: $tertiary;
    btnHover: $btnHover;
  }
