* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.album-header {
  height: 10vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-bar {
  width: 40%;
  height: 60%;
  outline: none;
  border-radius: 25px;
  padding: 10px;
}

.album-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album-list-header {
  width: 60%;
  border-bottom: 2px lightblue solid;
}

.album-header-content {
  text-align: center;
  padding: 10px;
}

.album-list-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.album-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 350px;
  margin: 1%;
  border: 1px lightsteelblue solid;
  border-radius: 5px;
  text-align: center;
}

.album-image {
  max-height: 300px;
  width: 100%;
}

.album-name {
  padding: 5px;
}
