*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  width: 60rem;
  margin: auto;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-wrapper {
  margin-top: 4rem;
  background-color: lightblue;
  text-align: center;
}

.button-1 {
  background-color: #008cba;
}

.button-2 {
  background-color: #f44336;
}

.content {
  display: flex
}

.content-table {
  text-align: center;
}

h2 {
  text-align: center;
}

tr,
td {
  padding: 2rem;
  text-align: center;
}

.contetn-table {
  width: 100%;
  background-color: #f1f1c1;
}

.removeBtn {
  text-align: center;
  background-color: red;
}