header {
    text-align: center
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 315px;
    margin: auto;
    padding: 10px 50px 10px 50px
}
.row {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    text-align: center;
}

@media screen and (max-width:600px) {
    .row {
        flex-direction: column;
        align-items: center;
        justify-content: center
    }
    form {
        padding: 0px
    }

}
.whole-row {
    width: 308px
}
.half-row {
    width: 150px
}
@media screen and (max-width:600px) {
    .half-row {
        width: 250px
    }
    .whole-row {
        width: 250px
    }
    .first-name {
        margin-bottom: 4px
    }
}

#info-box {
    align-items: center;
    font-size: 10px;
}
.first-name {
    margin-right: 4px
}

input {
    height: 2.5em;
    border-radius: 5px;
    border: 1px solid rgb(216,216,216)

}
button {
    border-radius: 5px;
    height: 2.5em
}
button:hover {
    opacity: 0.8;
    cursor: pointer
}
#submitButton {
    background-color: #03a1fc;
    color: white;
    border: 0px;
    margin-right: 8px;
    border-radius: 5px
}

label {
    display: flex;
}
#sign-in {
    background-color: #34eba1;
    border: 0px;
    color: white;
}
@media screen and (max-width:600px) {
    #submitButton {
        margin-right: 0px;
        margin-bottom: 5px
 }
 .first-name {
     margin-right: 0px
 }
 #info-box {
     width: 250px;
     padding-left: 30px;
     justify-content: center;
 }
}

