p.terms{
  font-size: 14px;
}
canvas{
  z-index:1;
  position: absolute;
}
a{
  color: rgb(80, 163, 218);
  display: inline;
  text-decoration: none;
}
h1{
  font-weight: 200;
  text-align: center;
}
form{
  /*position: absolute;*/
  z-index:2;
  width:600px;
  /*left:calc((100% - 600px) / 2);*/
  margin:auto;
}
input{
  text-indent: 1rem;
  font-size: 1.2rem;
  width:100%;
  height:45px;
  margin: 5px;
  border: 1px solid;
  border-radius: 4px;
  border-color: rgb(167, 167, 167);
  overflow: hidden;
}
input:focus{
  box-shadow: -2px -2px 3px 0px rgb(80, 163, 218) , 2px 2px 3px 0px rgb(80, 163, 218);
  outline: none;
}
.first-group{
  align-items: center;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.first-group1{
  flex-grow: 9;
}
.first-group2{
  flex-grow: 4;

}
.first-group3{
  flex-grow: 9;
}
.last-group{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.last-group1{
  flex-grow: 9;
}
.last-group2{
  flex-grow: 4;

}
.last-group3{
  flex-grow: 9;
}
.middle-group{
  width: 100%;
}
.fourth-group{
  display:flex;
}
.fourth-group1{
  display:inline-flex;
  width:20%;
}
.fourth-group2{
  margin-left:10%;
  width:80%;
}


.check{
  margin:0px;
  width:20px;
  margin-top:5%;
}
.check>p{
  padding-top: 75%;
}
.fifth-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.fifth-group1{
  background-color: rgb(54, 145, 206);
  flex-grow:9;
  border-radius: 5px;
}
.fifth-group2{
  flex-grow: 1;
}
.fifth-group3{
  background-color: rgb(41, 175, 81);
  flex-grow: 9;
  border-radius:5px;
}
.fifth-group1:hover{
  cursor: grab;
}
.fifth-group3:hover{
  cursor:grab;
}
.fifth-group1>p{
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  color: white;
  height: 25px;
}
.fifth-group3>p{
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  color: white;
  height:25px;
}
#inline-register{
  background-color: rgb(54, 145, 206);
  border-radius:5px;
  color: white;
  padding:3px;
  padding-top: 1px;
}

@media (max-width: 600px) {
  .first-group{
    display:block;
  }
  .last-group{
    display:block;
  }
  .fifth-group{
    display:block;
  }
  form{
    width:90%;
  }
  .middle-group{
    width: 100%;
  }
  .fifth-group1{
    height: 40px;
  }
  .fifth-group1>p{
    padding-top: 10px;
  }
  .fifth-group3>p{
    padding-top: 10px;
  }
  .fifth-group3{
    height: 40px;
  }
}