*{
    box-sizing: border-box;
    font-family: sans-serif;
}
p{
    font-size: 2em
}
span{
    font-size: 12pt;
}
a{
    color: #5E9DD3;
    text-decoration: none;
}
form{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap:10px;
}
form input{
    grid-column: span 2 / span 2;
    border:1px solid #e0e0e0;
    outline:none;
    border-radius: 5px;
    padding: 15px;
    height: 50px;
}

form div{ 
    width: 100%;
    height: 50px;
    padding: 0px;
}

form input:focus{
    box-shadow: 0 0 2px 1px #88b8ff;
}

input.full{
    grid-column: 1 / 5;
    width: 100%;
}


.container{
    margin-right: auto;
    margin-left: auto;
    /* display: grid; */
    text-align: center;
    width:500px;
    height: 500px;
}
.registerBtn, .signUpBtn{
    color: white;
    font-size: 12px;
}
.registerBtn{
    background-color: #4890CD;
}

.signUpBtn{
    background-color: #62BC62;
}
.checkBox{
    font-size: 13px;
    text-align: left;
    vertical-align: middle;
}
.checkBox input{
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}
/* 
.checkBox span{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 40px
} */
.checkBoxRow{
    font-size: 12px;
    grid-column: 2 / 5;
    text-align: left;
}

.checkBoxRow a{
    color: #0000EE;
}


.register{
    border-radius: 5px;
    font-size: 11px;
    padding: 0.2em;
    color: white;
    background-color: #4890CD;
}

.terms{
    margin-left: 80px; 
    text-align:left;
}
@media screen and (max-width: 800px) {
    /* For mobile phones: */
    form > input{
        grid-column: 1 / 5;
        width: 100%;
    }

}