*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit
}

html {
  font-size: 62.25%
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: sans-serif;
}

label {
  cursor: pointer;
}

input[type='checkbox'] {
  cursor: pointer;
}




form {
  justify-content: center;
}

form .mobile {
  /* width: 97.5%; */
}

form .email {
  /* width: 97.5%; */
}

/*
input {
    display: block
}*/

div#head {
  display: flex;
  justify-content: center;
}

div#body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  width: 111px;
}

@media (min-width: 600px) {
  div .all {
    flex: 0 0 50%;
  }
}

@media (min-width: 960px) {
  div .all {
    flex: 0 0 33%;
  }
}

/* .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
} */

/* .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(130, 130, 134);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: -5px;
  size: 10px;
  left: 105%;

 
  position: absolute;
  z-index: 1;
} */

/* .tooltip:hover .tooltiptext {
  visibility: visible;
} */

span {
  background-color: deepskyblue;
  display: inline-block;
  /* color: #fff; */
  padding: 1px 4px;
  border-radius: 3px;
}

button.register {
  background: deepskyblue;
  display: inline-block;
  /* color: #fff; */
  padding: 1px 4px;
  border-radius: 3px;
}

button.signIn {
  background: greenyellow;
  display: inline-block;
  /* color: #fff; */
  padding: 1px 4px;
  border-radius: 3px;
}