* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 67%;
}
.container {
  position: fixed;
  width: 100%;
  max-width: 50rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register {
  background-color: blue;
}
.signIn {
  background-color: green;
}
.signup {
  display: flex;
  flex-direction: column;
}

body {
  font-size: 5rem;
  box-sizing: border-box;
  font-family: sans-serif;
}
.formRow .wrapper {
  display: flex;
  margin-top: 8px;
}
.signup .formRow .formItem {
  margin: 0.5rem 1rem;
  flex: 1 1 100%;
}
.formRow .agree {
  flex: 1 1 30%;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2.5rem;
  min-width: 2rem;
}
.signup .Header {
  text-align: center;
  margin: 5px 0;
}
.signup .formRow {
  display: flex;
  margin: 1px;
  flex: 1 1 100%;
}
.formItem input {
  padding: 1rem;
  width: 100%;
  border: 1px solid black;
  color: #fff;
}
.wrapper {
  display: flex;
  margin-top: 80px;
}

.formRow .terms .badge {
  background-color: blue;
  display: inline-block;
  color: #fff;
  padding: 1px 4px;
  border-radius: 3px;
}

.formRow .terms {
  font-size: 1.2rem;
}

@media (max-width: 400px) {
  .signup .formRow {
    flex-direction: column;
  }
  .agree label {
    display: none;
  }
  .agree {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
